:root {
    /* MAIN COLORS */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* GRADIENT COLORS */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* NEUTRAL COLORS */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}
* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: "Hanken Grotesk";
}
body {
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

}
.summary-card-container {
    max-width: 650px;
    min-width: 375px;
    border-radius: 20px;
    box-shadow: 1px 1px 30px hsla(224, 30%, 27%, .3);
    display: flex;
    align-items: center;
}
.summary-card {
    margin: 0;
    padding: 0 30px;
}
.summary-card-container > section {
    flex: 1 1 50%;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding: 15px;
    margin-top: 15px;
    font-weight: 700;
}
.icon-and-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.result-card {
    background: linear-gradient(var(--light-slate-blue)0%, var(--light-royal-blue)50%);
    align-self: stretch;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
    padding: 30px;
}
.result-circle {
    background: linear-gradient(hsla(224, 30%, 27%, 30%) , var(--light-royal-blue) 50%);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.score {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}
.score-denominator {
    color: darkgray;
}
.reaction-item {
    color: var(--light-red);
    background-color: hsl(0, 100%, 67%, .1);
}
.memory-item {
    color: var(--orangey-yellow);
    background-color:hsl(39, 100%, 56%, .1);
}
.verbal-item {
    color: var(--green-teal);
    background-color:hsl(166, 100%, 37%, .1);
}
.visual-item {
    color: var(--cobalt-blue);
    background-color: hsl(234, 85%, 45%, .1);
}
.summary-score {
    color: darkgray;
}
.numerator {
    color: black;
    font-weight: 800;
}
.continue-button {
    background-color: var(--dark-gray-blue);
    color: var(--white);
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    cursor: pointer;
    border: 0;
}
.continue-button:hover {
    background-color: var(--cobalt-blue);
}
.attribution {
    text-align: center;
    font-size: .7rem;
    color: var(--dark-gray-blue);
    margin-top: .5rem;
}
@media (max-width: 600px) {
 
    .summary-card-container {
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0;
    }
    .summary-card, .result-card {
        border-radius: 0 0 30px 30px;
    }
    .summary-card-container > section {
        width: 100%;
    }
}